* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

section {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@media screen and (min-width: 1980px) {
    body{
        width: 1280px;
        margin: auto;
    }
}
