* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

section {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 100vh;
}

section.mainPage {
    padding: 100px;
}

section.secPage {
    padding: 50px 100px;
    align-items: flex-start;
}

section.thirdPage {
    padding: 50px 100px;
    align-items: flex-start;
}

.content {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.rect {
    position: absolute;
    left: 55%;
    top: 25%;
    width: 45%;
    height: 75%;
    object-fit: none;
    object-position: 0 0;
    border-radius: 64px 0 0 0;
    background-color: black;
    border-top: 25px solid;
    border-left: 25px solid;
}
